<!-- include header -->
<%- include("includes/_header") %> 
<!-- include header -->

<!-- Main Site -->

    <main style="background: #130f40; height: calc(100vh - 50px);;" id="main-site">
                    
        <div class="container">
            <div class="box-nav d-lex-justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All user</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-light">New user</h2>
                <span class="text-light">Use the below form to create</span>
            </div>


            <%- include("includes/_form") %> 
            
            
        </div>

    </main>

<!-- Main Site -->


<!-- include footer -->
    <%- include("includes/_footer") %> 
<!-- include footer -->